:root{
  --neon: drop-shadow(0px 0px 3px white)
}

.TodoCounter {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
  font-weight: normal;
  grid-row:1;
  grid-column: 7;
  color: white;
  filter: var(--neon);
}

.TodoCounter span {
  font-weight: bold;
}



@media (200px <= width <= 830px){
  .TodoCounter{
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 15px;
    padding: 10px;
  }

}