.TODO-LIST-CATEGORIES--container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    

}

/* Personalización del scrollbar para navegadores WebKit (Chrome, Safari, Edge) */
.TODO-LIST-CATEGORIES--container::-webkit-scrollbar {
    height: 8px; /* Altura de la barra de desplazamiento horizontal */
}

.TODO-LIST-CATEGORIES--container::-webkit-scrollbar-track {
    background:transparent; /* Color de fondo del track del scrollbar */
    border-radius: 10px; /* Bordes redondeados */
}

.TODO-LIST-CATEGORIES--container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del scrollbar */
    border-radius: 10px; /* Bordes redondeados del scrollbar */
    border: 2px solid #f0f0f0; /* Espacio alrededor del scrollbar */
}

.TODO-LIST-CATEGORIES--container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del scrollbar al pasar el mouse */
}

@media (min-width:100px) and (max-width:899px) {
    .TODO-LIST-CATEGORIES--container{
        width: 120px;
        overflow-y: auto;
    }
}