:root{


    --sky-color-white: #f3f6fc;
    --sky-color-gray: #e5eef9;
    --sky-color-cyan: #c6dbf1;
    --sky-color-cyan-300: #93bde6;
    --sky-color-cyan-400: #5a9bd6;
    --sky-color-cyan-500: #357ec2;
    --sky-clor-cyan-bold-600: #2563a4;
    --sky-color-cyan-bold-700: #1f5085;
    --sky-color-blue-800: #1D446f;
    --main-color-background: #19324f;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  /* margin: 0 24px; */
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}



.inactive{
  display: none;
}


