.Header-Todo_counter_search{
    display: flex;
    /* background-color:#1c304c; */
    background-color: #173351;
    padding: 10px 15px 10px 15px;
    justify-content: space-between;
    align-items: center;

}
